body{
    background-color:#EAF6F6;
}

hr{
    color: gray;
    border-style:none;
    border-top-style: dotted;
    border-width: 3px;
    width: 30%;
    height: 0px;
    margin-left:0px;
}

h1{
    color: #66BFBF;
}

h3{
    color:#66BFBF;
}
.worked-time{
    text-align: center;
}

.worked-position-title{
    text-align: center;
    font-weight: bold;
}

.worked-company{
    text-align: center;
}
